{% extends 'second/base.html' %}
    {% block title %}Document {% endblock %}
    {% block static%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'second/style.css' %}">
    {% endblock %}
    {% block content %}
    <h1> Movie</h1>
    <form action='{% url 'index' %}' method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>
    <br>
    <br>
    <h1>All Movies</h1>
    <table style="width:100%;">
        <tr>
            <th>Name</th>
            <th>Release year</th>
            <th>Director</th>
            <th>Actor</th>
            <th>Action</th>
        </tr>
        {% for obj in objs%}
            <tr>
                <th><a href="{% url 'detail' obj.id %}">{{obj.name}}</a></th>
                <th>{{obj.release_year}}</th>
                <th>{{obj.director}}</th>
                <th>{{obj.actor}}</th>
                <th><a href="{% url 'delete' obj.id %}">Delete</a></th>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}