
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>{{object.title}}</h1>
    <form method="POST">{% csrf_token %}
        <h3>Do you want to delete the post "{{ object.title }}"?</h3>
        <p><input type='submit' value='Yes' />  <a href='../'>Cancel</a></p>
    
    </form>
</body>
</html>




