{% extends 'movie/base.html' %}
{% block title %} detail {% endblock %}
{% block static %}
<script>
  document.addEventListener('DOMContentLoaded',()=>{
    document.querySelector('#likebtn').onclick=()=>{
      const request=new XMLHttpRequest;
      request.open('GET','like',true);
      request.onload=()=>{
        const data = JSON.parse(request.responseText);
        if ((data.success)&&(data.content=='Like')){
          totalLike=data.Like;
          likespan=document.querySelector('#likespan');
          likespan.innerHTML=totalLike;
          likebtn=document.querySelector('#likebtn');
          likebtn.disabled = true;
          dislikebtn.disabled=true;
        }
      }
      request.send();
      return false;
    }
    document.querySelector('#dislikebtn').onclick=()=>{
      const request=new XMLHttpRequest;
      request.open('GET','dislike',true);
      request.onload=()=>{
        const data = JSON.parse(request.responseText);
        if ((data.success)&&(data.content=='Dislike')){
          totalDislike=data.Dislike;
          dislikespan=document.querySelector('#dislikespan');
          dislikespan.innerHTML=totalDislike;
          dislikebtn=document.querySelector('#dislikebtn');
          dislikebtn.disabled = true;
          likebtn.disabled=true;
        }
      }
      request.send();
      return false;
    }
  })
</script>
{% endblock %}
{% block content %}
<div class="text-center">
<h1>{{object.Name}}</h1>
{% load static %}
<img src="{% static 'movie/image/' %}{{object.pk}}.jpg">
<p>Released in: <a href="{% url 'new_list' 'Year' object.ReleaseYear %}">{{object.ReleaseYear}}</a></p>
<p>Director: <a href="{% url 'new_list' 'Director' object.Director %}">{{object.Director}}</a></p>
<p>Language: <a href="{% url 'new_list' 'Language' object.Language %}">{{object.Language}}</a></p>
<p>Cast 1: <a href="{% url 'new_list' 'Cast' object.Cast_I %}">{{object.Cast_I}}</p></a>
<p>Cast 2: <a href="{% url 'new_list' 'Cast' object.Cast_II %}">{{object.Cast_II}}</p></a>
<p>Imdb Rating: {{object.ImdbRating}}</p>
<p>Genre: {{object.Genre}}</p>
<p><a href="https://en.wikipedia.org/wiki/{{object.Name}}">Know More</a></p>
<h3>How was this movie?</h3>
<h5>
    
    <span id="likespan">{{object.Like}}</span>
    <button id="likebtn" type="submit" class="btn btn-primary">Like</button>
    
    <span id="dislikespan">{{object.Dislike}}</span>
    <button id="dislikebtn" type="submit" class="btn btn-primary">Dislike</button>
</h5>
<h3>Want to save for later?</h3>
<form method="GET" action="{% url 'watchlist' object.pk  %}">
<button type="submit" class="btn btn-primary">Add to watchlist</button>
</form>
</div>
{% endblock %}